@use "variables";

.header {
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: 1px solid white;

    &__main {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}