@use "variables";

.links {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hamburger {
        font-size: 3rem;
        padding: 0;
        background: transparent;
        color: variables.$button-bg-color;;
    }

    .hide {
        display: none!important;
    }

    &.desktop {
        ul {
            flex-direction: row;
            justify-content: center;

            li {
                button {
                    font-size: 1.5rem;
                }
            }
        }
    }
    
    &.mobile {
        ul {
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;

            li {
                button {
                    font-size: 1.5rem;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 0.5rem;

        li {
            button {
                font-size: 1.2rem;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                width: fit-content;
            }
        }
    }
}