@use "variables";

.main-description {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    gap: 2rem;
    font-size: 1.5rem;

    &__info {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }

    &__badges {
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    &__right {
        display: flex;
        font-size: 1.5rem;
        width: 100%;
        justify-content: end;
        text-align: right;

        p {
            width: 20rem;
        }
    }
}