@use "variables";

.separator {
    width: 100%;
    background-color: transparent;
    color: transparent;
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    
    &__interior {
        border: 0.1rem solid white;
    }
}